In [1]:
my_var = 23.0

print(type(my_var))

<class 'float'>

In [2]:
a = 2 + 3j

print(a)

(2+3j)

In [3]:
a = 5
b = float(a)

print(b)

5.0

In [4]:
a = 6.5e7

print(a)

65000000.0

In [5]:
x = 5
y = 6

print(id(x))
print(id(y))

140725288006696
140725288006728

In [6]:
my_list = [10,32,42,14,24]

print(my_list)
print(type(my_list))
print(my_list[3])
print(id(my_list))
my_list[2] = 59 
print(id(my_list))
print(len(my_list))

[10, 32, 42, 14, 24]
<class 'list'>
14
2388594568192
2388594568192
5

In [7]:
list = [10,"kalana",True,3.4]

print(list)

[10, 'kalana', True, 3.4]

In [11]:
num = [10,12,8,9,22,20,5,11]

print(num[1:4])
print(num[:4])
print(num[2:])
print(num[1:7:2])
print(num[-4])

[12, 8, 9]
[10, 12, 8, 9]
[8, 9, 22, 20, 5, 11]
[12, 9, 20]
22

In [10]:
num = [10,12,8,9,22,20,5,11]

num[2:5] = [50,70,60]
num.insert(2,77)
num.append(66)
num.remove(20)
new_num = num.pop(1)
del num[2]
num.clear()

print(num)
print(len(num))
print(new_num)

[]
0
12